
</!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>




	<title>Blog|Home </title>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light  fixed-top opacity bg-greyish">
  <a class="navbar-brand black" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newblog">Create new</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron pad">
  <h1 class="display-3">Hello, People!</h1>
  <p class="lead">This is Rd's blog built in node js </p>
  <hr class="my-4">
  <p>Visit our blog to get info about technology.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" onclick="getuser()">Learn more</a>
  </p>
</div>
<div id="blog1" class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/blogs/blog1">know more</a></p>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/tech">know more</a></p>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/tech">know more</a></p>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/tech">know more</a></p>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/tech">know more</a></p>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 class="display-4">Wonders of tech</h3>
		<p>The tech has been rapidly evolving. <a href="/tech">know more</a></p>
	</div>
	
</div>
<div id="demo"> </div>
<script type="text/javascript">
	window.onscroll = function () {myfunc()};
	var blog = document.getElementById('blog1');
	var navbar = document.getElementById('navbar');

	var blogOffset = blog.offsetTop;
	function myfunc() {
		if(window.pageYOffset+56 >= blogOffset) {
			navbar.classList.add("hide");
			//navbar.classList.add("hidden");

			
			
		} else
		{
			//navbar.classList.remove("hidden");
			navbar.classList.remove("hide");

		}

	}
	
</script>
</body>
</html>
