.opacity {
	opacity: 1;
	visibility: visible;
	transition: visibility 2s, opacity 0.5s linear;
}
.hide {
	opacity: 0;
	visibility: hidden;

}
.pad {
	padding: 3rem 1rem;
}
.bg-greyish {
	background-color: #e9ecef;
	}
/* for articles */
.article {
	margin-top: 5rem;
	text-align: center;
	padding-left: 3rem;
	padding-right: 3rem;
}
#date {
	text-align: left;
}
#author{
	text-align:right;
}
